/* open sans font */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared style */

.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    color: #FFFFFF;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}


/* Nav Style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}




/* h3,nav-title */
.nav-title {
    font-weight: 800px;
    font-size: 45px;

}

nav ul {
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}


/* header style */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
   

}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 200px;
}   
   
.banner-content{
   max-width:450px;
    
}



.banner-greetings {
    font-size: 40px;
    font-weight: 500px;
}

.banner-title {
    font-size: 60px;
    font-weight: bold;
}

.banner-description {
    font-size: 18px;
}

.banner-profile-picture{
    width: 580px;
    height: 670px;

}
